@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/// GÉNÉRALE ///

body {
   font-family: 'Roboto', sans-serif;
   width: 100%;
}

:root{

   --main-bgcolor: #F3F3F3;

}

/// HEADER ///


    