/** IMPORT DU FONT FAMILY **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utility styles
@import './utils/variables.scss';
@import './utils/mixins.scss';

// Import component styles
@import './components/buttons.scss';
@import './components/cards.scss';

// Import layout styles
@import './layout/header.scss';
@import './layout/footer.scss';


/// GÉNÉRALE ///

body {
   font-family: 'Roboto', sans-serif;
   width: 100%;
   margin: 0;
   padding: 0;
}


/// HEADER ///

// Import layout styles
@import './layout/header.scss';

/** SECTION RESERVATION **/

.reservation {
   background-color: $main-bg-color;
   @include dirColumn();
   text-align: $center;
   padding: 20px;

   p {
      font-weight: 300;
   }
}

/** SECTION FONCTIONNEMENT **/

.functioning {
   padding: 20px;

   &__steps {
      @include flexWrap();
      @include flexCenter();
      @include gap(25px);

      div {
         @include flexCenter();
         @include gap(15px);
         background-color: $main-bg-color;
         box-shadow: -1px 1px 15px 1px rgba(0, 0, 0, 0.15);
         height: 72.5px;
         width: 322.5px;
         border-radius: 20px;
         align-items: $center;
         position: relative;

         span {
            background-color: #9356DC;
            width: 24px;
            height: 24px;
            color: white;
            align-content: center;
            text-align: $center;
            border-radius: 15px;
            position: absolute;
            left: -10px;
         }

         i {
            font-size: 18px;
            color: #7E7E7E;
            ;
         }

      }

      div:hover {
         i {
            color: #9356DC;

         }
      }
   }

   /* Media query pour ordinateurs de bureau */
   @media (min-width: 1440px) {
      padding: 50px 180px 50px 180px;


   }
}