// Import base styles
@import './base/base.scss';
// Import utility styles
@import './utils/variables.scss';
@import './utils/mixins.scss';

// Import component styles
@import './components/buttons.scss';

// Import layout styles
@import './layout/header.scss';
@import './layout/footer.scss';


/**** MAIN ****/

main {

    background-color: $main-bg-color;

}

.container__Menu {


    div img {

        height: 275px;
        width: 100%;
        object-fit: cover;
    }

    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;
        font-size: 28px;
    }

    // ANIMATION COEUR //
    @import './components/animations.scss';

    &--heart {
        right: 14px;
        top: 41px;

        @media (min-width: 375px) {
            right: 30px;

        }
    }

}

.menu__content {
    background-color: $main-bg-color;
    position: relative;
    padding: 10px;
    bottom: 65px;
    border-radius: 25px 25px 0 0;

    &__list {
        &--title {
            font-weight: 300;
        }

        &--title::after {
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background-color: #99E2D0;
            position: absolute;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 0;
        }

        li {

            background-color: white;
            border-radius: 15px;
            height: 72px;
            box-shadow: 0px 4.01px 15.04px 0px #0000001A;
            display: flex;
            justify-content: space-between;
            position: relative;

        }



        &--name {
            line-height: 1.5;
            align-content: center;
            margin-left: 15px;
            overflow: hidden;
            text-overflow: ellipsis;

            div:nth-child(1) {
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
            }

            div:nth-child(2) {
                font-weight: 300;
            }
        }

        &--right {
            display: flex;
        }

        &--price {
            font-weight: bold;
            align-content: end;
            margin: 13px;

        }

        &--check {
            background-color: #99E2D0;
            text-align: center;
            color: white;
            align-content: center;
            border-radius: 0px 15px 15px 0px;
            width: 60px;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 1000ms;
            display: none;
        }



        [type='checkbox'] {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            appearance: none;
            cursor: pointer;
        }

        [type="checkbox"]:checked + &--check {
            transform: scaleX(1);
            display: block;
        }

        [type="checkbox"]:checked:hover + &--check {
          
            display: block;
        }

       
    }
}