// Import base styles
@import './base/base.scss';
// Import utility styles
@import './utils/variables.scss';
@import './utils/mixins.scss';

// Import component styles
@import './components/buttons.scss';

// Import layout styles
@import './layout/header.scss';
@import './layout/footer.scss';


/**** MAIN ****/
.container__menu {
    background-color: $main-bg-color;

    div img {
        height: 275px;
        width: 100%;
        object-fit: cover;
    }

    @media (min-width: 1024px) {
        align-items: center;

    }
}

.menu__content {
    background-color: $main-bg-color;
    position: relative;
    padding: 10px;
    bottom: 65px;
    border-radius: 25px 25px 0 0;

    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;
        font-size: 28px;
    }

    // ANIMATION COEUR //
    @import './components/heartAnimation.scss';

    &--heart {
        right: 14px;
        top: 41px;

        @media (min-width: 375px) {
            right: 30px;

        }
    }

    &__list {
        &--title {
            font-weight: 300;
        }

        &--title::after {
            content: '';
            display: block;
            width: 40px;
            height: 3px;
            background-color: #99E2D0;
            position: absolute;
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 0;
        }

        li {

            background-color: white;
            border-radius: 15px;
            height: 72px;
            box-shadow: 0px 4.01px 15.04px 0px #0000001A;
            display: flex;
            justify-content: space-between;
            position: relative;
        }

        &--name {
            line-height: 1.5;
            align-content: center;
            margin-left: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;


            div:nth-child(1) {
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;

            }

            div:nth-child(2) {
                overflow: hidden;
                font-size: 15px;
                font-weight: 300;
                text-overflow: ellipsis;

            }
        }

        &--right {
            display: flex;
        }

        &--price {
            font-weight: bold;
            align-content: end;
            margin: 13px;

        }

        // CHECK ANIMATION
        @import '../sass/components/checkAnimation.scss';

    }
}