/** HEADER **/

header {
    @include dirColumn();
    @include flexCenter();
    text-align: $center ;
 
    .logo {
      position: relative;
      padding: 20px 10px 10px;

      a {
         position: absolute;
         font-size: x-large;
         left: 20px;
         color:#353535;
      }
    }
 
    .location {
       align-items: $center;
       height: 50px;
       background-color: $location-bg-color;
       @include gap(17px);
       @include flexCenter();
       font-weight: bolder;
       box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1),
          0px 4px 20px rgba(0, 0, 0, 0.4);
    }
 }