/** Buttons **/

.btn {
    @include backgroundGradient();
    border-radius: 25px;
    border: none;
    height: 50px;
    padding: 15px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    align-content: $center;
 
 }