/** Buttons **/

.btn {
    @include backgroundGradient();
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    width: 218px !important;
    height: 50px !important;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    align-content: $center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
    &:hover{
        filter: brightness(1.1);
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    }
}

 