
/** CHECK ANIMATION **/

&--check {
    background-color: #99E2D0;
    text-align: center;
    color: white;
    align-content: center;
    border-radius: 0px 15px 15px 0px;
    width: 60px;
    animation: checked 0.2s normal forwards;
    display: none;
}

@keyframes checked {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    25% {
        opacity: 0.25;
        transform: translateX(45px);
    }

    50% {
        opacity: 0.50;
        transform: translateX(30px);
    }

    75% {
        opacity: 0.75;
        transform: translateX(15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    appearance: none;
    cursor: pointer;
}

[type="checkbox"]:checked+&--check {
    display: block;
}
