/** IMPORT DU FONT FAMILY **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/** BODY **/
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

/** VARIABLES **/
/** MIXINS **/
/** Buttons **/
.btn {
  background: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  width: 217px;
  height: 50px;
  padding: 15px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  align-content: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation: fadeOut 3s ease forwards 1;
}
.loader__container i {
  font-size: 100px;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader__container--dots {
  width: 56px;
  height: 26.9px;
  background: radial-gradient(circle closest-side, #d256e3 90%, rgba(0, 0, 0, 0)) 0% 50%, radial-gradient(circle closest-side, #d256e3 90%, rgba(0, 0, 0, 0)) 50% 50%, radial-gradient(circle closest-side, #d256e3 90%, rgba(0, 0, 0, 0)) 100% 50%;
  background-size: 33.3333333333% 13.4px;
  background-repeat: no-repeat;
  animation: dots 1.4s infinite linear;
}
@keyframes dots {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/** HEADER **/
header {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}
header .logo {
  position: relative;
  padding: 20px 10px 10px;
}
header .logo a {
  position: absolute;
  font-size: x-large;
  left: 20px;
  color: #353535;
}
header .location {
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
  gap: 17px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.4);
}

/** FOOTER **/
footer {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 16px;
  background-color: #303030;
  padding: 20px;
}
footer .footer__infos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
  line-height: 1.5;
}
footer .footer__infos a {
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  footer {
    justify-content: center;
  }
  footer .footer__infos {
    flex-direction: row !important;
  }
}
@media (min-width: 1440px) {
  footer {
    padding: 40px;
    justify-content: end;
  }
  footer .footer__infos div:nth-child(3) {
    padding: 0 0 0 30px;
  }
  footer .footer__infos div:nth-child(4) {
    padding: 0 30px 0 0;
  }
  footer svg {
    padding: 0 30px 0 30px;
  }
}

/** HEADER **/
header {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}
header .logo {
  position: relative;
  padding: 20px 10px 10px;
}
header .logo a {
  position: absolute;
  font-size: x-large;
  left: 20px;
  color: #353535;
}
header .location {
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
  gap: 17px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.4);
}

/** SECTION RESERVATION **/
.reservation {
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.reservation p {
  font-weight: 300;
}

/** SECTION FONCTIONNEMENT **/
.functioning {
  padding: 20px;
  /* Media query pour ordinateurs de bureau */
}
.functioning__steps {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.functioning__steps div {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #F3F3F3;
  box-shadow: -1px 1px 15px 1px rgba(0, 0, 0, 0.15);
  height: 72.5px;
  width: 322.5px;
  border-radius: 20px;
  align-items: center;
  position: relative;
}
.functioning__steps div span {
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  color: white;
  align-content: center;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  left: -10px;
}
.functioning__steps div i {
  font-size: 18px;
  color: #7E7E7E;
}
.functioning__steps div:hover i {
  color: #9356DC;
}
@media (min-width: 1440px) {
  .functioning {
    padding: 50px 180px 50px 180px;
  }
}

/** SECTION RESTAURANTS **/
.restaurants {
  background-color: #F3F3F3;
  padding: 15px;
  /** CARDS **/
}
.restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-bottom: 30px;
}
.restaurants__cards a {
  width: 100%;
  text-decoration: none;
}
.restaurants__cards__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 251px;
  position: relative;
  background-color: white;
  border-radius: 15px;
}
.restaurants__cards__card--new::before {
  position: absolute;
  text-align: center;
  border-radius: 3px;
  content: "Nouveau";
  height: 30px;
  width: 90px;
  right: 10px;
  top: 10px;
  color: #008766;
  font-weight: 500;
  background: #99E2D0;
  align-content: center;
}
.restaurants__cards__card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurants__cards__card--text {
  color: black;
  padding-left: 10px;
  line-height: 1.5;
}
.restaurants__cards__card--title {
  font-weight: bold;
}
.restaurants__cards__card--heart {
  position: absolute;
  right: 27px;
  bottom: 33px;
}
.restaurants__cards__card--heart label {
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  position: relative;
}
.restaurants__cards__card--heart label::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
  transition: color 0.3s, transform 0.3s;
}
.restaurants__cards__card--heart [type=checkbox] {
  appearance: none;
}
.restaurants__cards__card--heart [type=checkbox]:checked + label::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .restaurants__cards {
    justify-content: center;
  }
  .restaurants__cards a {
    width: 45%;
  }
}
@media (min-width: 1440px) {
  .restaurants {
    padding: 20px 180px 20px 180px;
  }
  .restaurants__cards {
    gap: 100px;
  }
}

/*# sourceMappingURL=index.css.map */
