/** IMPORT DU FONT FAMILY **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/** BODY **/
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

/** VARIABLES **/
/** MIXINS **/
/** Buttons **/
.btn {
  background: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  border: none;
  width: 218px !important;
  height: 50px !important;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  align-content: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

/** HEADER **/
header {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}
header .logo {
  position: relative;
  padding: 20px 10px 10px;
}
header .logo a {
  position: absolute;
  font-size: x-large;
  left: 20px;
  color: #353535;
}
header .location {
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
  gap: 17px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.4);
}

/** FOOTER **/
footer {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 16px;
  background-color: #303030;
  padding: 20px;
}
footer .footer__infos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
  line-height: 1.5;
}
footer .footer__infos a {
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  footer {
    justify-content: center;
  }
  footer .footer__infos {
    flex-direction: row !important;
  }
}
@media (min-width: 1440px) {
  footer {
    padding: 40px;
    justify-content: end;
  }
  footer .footer__infos div:nth-child(3) {
    padding: 0 0 0 30px;
  }
  footer .footer__infos div:nth-child(4) {
    padding: 0 30px 0 0;
  }
  footer svg {
    padding: 0 30px 0 30px;
  }
}

/**** MAIN ****/
.container__menu {
  background-color: #F3F3F3;
  margin-bottom: -35px;
}
.container__menu div img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .container__menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: -65px;
  }
  .container__menu :nth-child(1) {
    width: 100%;
  }
}

.menu__content {
  background-color: #F3F3F3;
  position: relative;
  padding: 10px;
  bottom: 65px;
  border-radius: 25px 25px 0 0;
  /** MEDIA QUERIES **/
}
.menu__content h1 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 28px;
}
@media (min-width: 375px) {
  .menu__content h1 {
    text-align: center;
  }
}
.menu__content--heart {
  position: absolute;
  right: 27px;
  bottom: 33px;
}
.menu__content--heart label {
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  position: relative;
  transition: 0.5s;
}
.menu__content--heart label::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
}
.menu__content--heart [type=checkbox] {
  appearance: none;
}
.menu__content--heart [type=checkbox]:checked + label::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.menu__content--heart {
  right: 14px;
  top: 41px;
}
@media (min-width: 375px) {
  .menu__content--heart {
    right: 20px;
    top: 39px;
  }
}
@media (min-width: 768px) {
  .menu__content--heart {
    right: 210px;
    top: 39px;
  }
}
@media (min-width: 1024px) {
  .menu__content--heart {
    right: 190px;
    top: 20px;
  }
}
@media (min-width: 1440px) {
  .menu__content--heart {
    right: 340px;
    top: 20px;
  }
}
.menu__content__list {
  /** CHECK ANIMATION **/
}
@media (min-width: 1024px) {
  .menu__content__list {
    padding: 20px 150px 0 150px;
  }
}
.menu__content__list--title {
  font-weight: 300;
}
.menu__content__list--title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
}
.menu__content__list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  padding-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}
.menu__content__list li {
  background-color: white;
  border-radius: 15px;
  height: 72px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  justify-content: space-between;
  position: relative;
  opacity: 0;
  animation: fadeInUpPlat 0.1s forwards;
}
@keyframes fadeInUpPlat {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__content__list--name {
  line-height: 1.5;
  align-content: center;
  margin-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  min-width: calc(100% - 67px);
  transition: min-width 0.2s ease-in;
}
.menu__content__list--name div:nth-child(1) {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__content__list--name div:nth-child(2) {
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}
.menu__content__list--right {
  display: flex;
  overflow: hidden;
  border-radius: 0px 15px 15px 0px;
  width: 60px;
}
.menu__content__list--price {
  font-weight: bold;
  align-content: end;
  margin: 13px;
}
.menu__content__list--check {
  background-color: #99E2D0;
  text-align: center;
  color: white;
  align-content: center;
  border-radius: 0px 15px 15px 0px;
  width: 60px;
}
.menu__content__list [type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  appearance: none;
  cursor: pointer;
}
.menu__content__list [type=checkbox]:checked + .menu__content__list--name {
  min-width: calc(100% - 129px);
}
.menu__content__list > ul:nth-of-type(1) {
  animation-delay: 0.5s;
}
.menu__content__list > ul:nth-of-type(2) {
  animation-delay: 1s;
}
.menu__content__list > ul:nth-of-type(3) {
  animation-delay: 1.5s;
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__content--button {
  text-align: center;
}
.menu__content--button a {
  display: inline-block;
}
@media (min-width: 1024px) {
  .menu__content--button {
    padding: 10px 0 30px;
  }
}
@media (min-width: 1024px) {
  .menu__content {
    width: 73%;
  }
}

/*# sourceMappingURL=menus.css.map */
