/** IMPORT DU FONT FAMILY **/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/** BODY **/
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

/** VARIABLES **/
/** MIXINS **/
/** Buttons **/
.btn {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
  border: none;
  height: 50px;
  padding: 15px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  align-content: center;
}

/** HEADER **/
header {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}
header .logo {
  position: relative;
  padding: 20px 10px 10px;
}
header .logo a {
  position: absolute;
  font-size: x-large;
  left: 20px;
  color: #353535;
}
header .location {
  align-items: center;
  height: 50px;
  background-color: #EAEAEA;
  gap: 17px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.4);
}

/** FOOTER **/
footer {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 16px;
  background-color: #303030;
  padding: 20px;
}
footer .footer__infos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 7px;
  line-height: 1.5;
}
footer .footer__infos a {
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  footer {
    justify-content: center;
  }
  footer .footer__infos {
    flex-direction: row !important;
  }
}
@media (min-width: 1440px) {
  footer {
    padding: 40px;
    justify-content: end;
  }
  footer .footer__infos div:nth-child(3) {
    padding: 0 0 0 30px;
  }
  footer .footer__infos div:nth-child(4) {
    padding: 0 30px 0 0;
  }
  footer svg {
    padding: 0 30px 0 30px;
  }
}

/**** MAIN ****/
main {
  background-color: #F3F3F3;
}

.container__Menu div img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
.container__Menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 28px;
}
.container__Menu--heart {
  position: absolute;
  right: 27px;
  bottom: 33px;
}
.container__Menu--heart label {
  cursor: pointer;
  font-size: 1.5rem;
  color: black;
  position: relative;
}
.container__Menu--heart label::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 100;
  transition: color 0.3s, transform 0.3s;
}
.container__Menu--heart [type=checkbox] {
  appearance: none;
}
.container__Menu--heart [type=checkbox]:checked + label::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
}
.container__Menu--heart {
  right: 14px;
  top: 41px;
}
@media (min-width: 375px) {
  .container__Menu--heart {
    right: 30px;
  }
}

.menu__content {
  background-color: #F3F3F3;
  position: relative;
  padding: 10px;
  bottom: 65px;
  border-radius: 25px 25px 0 0;
}
.menu__content__list--title {
  font-weight: 300;
}
.menu__content__list--title::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
}
.menu__content__list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}
.menu__content__list li {
  background-color: white;
  border-radius: 15px;
  height: 72px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  display: flex;
  justify-content: space-between;
  position: relative;
}
.menu__content__list--name {
  line-height: 1.5;
  align-content: center;
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__content__list--name div:nth-child(1) {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.menu__content__list--name div:nth-child(2) {
  font-weight: 300;
}
.menu__content__list--right {
  display: flex;
}
.menu__content__list--price {
  font-weight: bold;
  align-content: end;
  margin: 13px;
}
.menu__content__list--check {
  background-color: #99E2D0;
  text-align: center;
  color: white;
  align-content: center;
  border-radius: 0px 15px 15px 0px;
  width: 60px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 1000ms;
  display: none;
}
.menu__content__list [type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  appearance: none;
  cursor: pointer;
}
[type=checkbox]:checked + .menu__content__list--check {
  transform: scaleX(1);
  display: block;
}
[type=checkbox]:checked:hover + .menu__content__list--check {
  display: block;
}

/*# sourceMappingURL=menus.css.map */
