/** MIXINS **/

@mixin flexCenter {
    display: flex;
    justify-content: center;
 }
 
 @mixin dirColumn {
    display: flex;
    flex-direction: column
 }
 
 @mixin columnReverse {
    display: flex;
    flex-direction: column-reverse
 }
 
 @mixin gap ($var) {
    gap: $var ;
 }
 
 @mixin backgroundGradient {
   background: linear-gradient(180deg, #ff79da, #9356dc);
 
 }
 
 @mixin flexWrap {
    display: flex;
    flex-wrap: wrap;
 }